@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px repeat(5, 45vw) 20vw;
    height: auto;
    background-color: var(--color-secundary);
    overflow-x: hidden;

}
/*Header pagina 1 */
.encabezado{
    display: flex;
    width: 95%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color-secundary);
    /* border: 1px solid red; */

}
.encabezado__titulo{
    display: flex;
    color: var(--color-primary);
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}


.menu {
    list-style: none;
    display: flex;
    width: 41%;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    font-weight: 600;
    position: absolute;
    margin-top: -1rem;
    
}
.menu a{
    display: flex;
    width: 100%;
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}
.menu a:hover{
    color: var(--color-primary);
}
/*fin Header pagina 1  */



/*Comienzo cuerpo texto-img pagina 1  */
.textopagina1{
    display: flex;
    width: 85%;
    height: 83.5vh;
    grid-template-columns: repeat(2,1fr);
    margin-left: 8rem;
    /* border: 1px solid green; */
}
.textopagina1__texto{
    display: flex;
    width: 100%;
    height: 83.5vh;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid rgb(255, 208, 0); */
    

    
}
.textopagina1__img{
    display: flex;
    width: 100%;
    height: 75vh;
    object-fit: contain;
    /* border: 1px solid red; */
}

.textopagina1__texto h2{
    font-size: 5.2rem;
    color: var(--color-primary);
}
.textopagina1__texto p{
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var(--color-white);
}
.textopagina1__texto button{
    display: flex;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color-white);
}
.textopagina1__texto button:hover{
    background-color:var(--color-white) ;
    color: var(--color-primary);
    scale: 1.1;
}

/*Fin cuerpo texto-img pagina 1  */



/*Comienzo pagina 2*/
.pagina2{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.pagina2__img{
    display: flex;
    width: 50%;
    height: 75vh;
    object-fit: contain;
    justify-content: center;
    align-self: center;
    /* border: 1px solid red; */

}
.pagina2__text{
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}
.pagina2__text small{
    font-size: 1.5rem;
    color: var(--color-primary);
    
}
.pagina2__text h3{
    margin-top: 0.5rem;
    font-size: 3.5rem;
    line-height: 3.7rem;
    color: var(--color-white);
    font-weight:500;
}
.pagina2__text p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: var(--color-white);
    line-height: 2rem;
}
.pagina2__text button{
    display: flex;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-top: 1.5rem;
}
.pagina2__text button:hover{
    background-color:var(--color-white) ;
    color: var(--color-primary);
    scale: 1.1;
}

/*Fin pagina 2*/


/*Comienzo pagina 3*/
.pagina3{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items:center ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.pagina3__text{
    display: flex;
    width: 100%;
   height: 30vh;
   justify-content: center;
   flex-direction: column;  
    /* border: 1px solid yellow; */
}
.pagina3__text small{
    font-size: 1.5rem;
    color: var(--color-primary);
}
.pagina3__text p{
    font-size: 3rem;
    color: var(--color-white);
    
    
}

.pagina3__img{
    display: flex;
    /* border: 1px solid rgb(17, 0, 255); */
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    height: 70%;
    
}
.img__elemento i{
    position: absolute;
    font-size: 2.5rem;
    right: 5px;
    top: 5px;
    border-radius: 10px;
    background-color: var(--color-primary);
    cursor: pointer;
}
.pagina3__img .img__elemento:hover{
    scale: 1.1;
}
.pagina3__img .img__elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    height: 80%;
    background-color: var(--color-beige);
    position: relative;
    /* border: 1px solid rgb(255, 0, 234); */
    
}
.img__elemento img{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    align-self: center;
    object-fit:contain;
    /* border: 1px solid yellow; */

}
.pagina3__img h4{
    font-weight: normal;
    font-size: 1.5rem;

}
.pagina3__img small{
    margin-top: 0.3rem;
    font-size: 1.2rem;

}
.pagina3__img p{
    font-weight: 500;
    color: var(--color-primary);
}

/*Fin pagina 3*/


/*Comienzo pagina 4*/
.pagina4{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items:center ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.pagina4__text{
    display: flex;
    width: 100%;
   height: 30vh;
   justify-content: center;
   flex-direction: column;  
    /* border: 1px solid yellow; */
}
.pagina4__text small{
    font-size: 1.5rem;
    color: var(--color-primary);
}
.pagina4__text p{
    margin-top: 1rem;
    font-size: 2.8rem;
    color: var(--color-white);
    
    
}
.pagina4__img{
    display: flex;
    /* border: 1px solid rgb(17, 0, 255); */
    justify-content: center;
    flex-direction: row;
    
    width: 100%;
    height: 70%;
    
}
.pagina4__img .img__elemento__pag4:hover{
    scale: 1.1;
}
.pagina4__img .img__elemento__pag4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    height: 80%;
    color: var(--color-primary);
    /* border: 1px solid rgb(255, 0, 234); */
    
}
.img__elemento__pag4 img{
    display: flex;
    width: 55%;
    height: 70%;
    align-items: center;
    align-self: center;
    object-fit:contain;
    /* border: 1px solid yellow; */

}

.pagina4__img h5{
    font-weight: 500;
    font-size: 1.5rem;
    
}

.img__elemento__pag4 p{
    margin-top: 1.5rem;
    font-size: 1.4rem;
    
    color: var(--color-white);
    line-height: 2rem;
}
/*FIN pagina 4*/


/*Comienzo pagina 5*/
.pagina5{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    
}
.pagina5__text{
    display: flex;
    width: 80%;
    height: 65%;
    inset: 0;
    margin: auto;   
    flex-direction: column;
    background-color: var(--color-beige);
    /* border: 1px solid rgb(200, 255, 0); */
    
    
}
.pagina5__text h6{
    display: flex;
    width: 60%;
    align-self: center;
    font-weight: normal;
    margin-top: 5rem;
    justify-content: center;
    /* border: 1px solid rgb(0, 174, 255); */
    text-align: center;
    font-size: 3rem;
}
.pagina5__text button{
    display: flex;
    /* border: 1px solid rgb(30, 255, 0); */
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-top:3rem;
    margin-left: auto;
    margin-right: auto;
    
}
.pagina5__text button:hover{
    background-color:var(--color-white) ;
    color: var(--color-primary);
    scale: 1.1;
}
/*Fin pagina 5*/


/*Comienzo Footer*/
.pagina6{
    display: flex;
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    justify-content: center;
    gap: 2rem ;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}
.pagina6__text{
    display: flex;
    width: 15%;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-top: 1rem;
}

.pagina6__text a{
    
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.1rem;
    margin-top: 1.5rem;
    line-height: 0.2rem;

}
.pagina6__text a:hover{
    color: var(--color-primary);
}
.pagina6__text i{
    display: flex;
    font-size: 2rem;
    /* border: 1px solid red; */
    flex-direction: row;
    margin-top: 1.5rem;
    line-height: 0.2rem;
    color: var(--color-white);

}

.linea{
    font-size: 1.7rem;
    position: relative;
    text-decoration: none;
    color: var(--color-white);
    
    display: inline-block;
}

.linea::after {
    content: "";
    position: absolute;
    bottom: 0;
    
    left: 0%; /* Alinea el inicio del subrayado en la mitad de la palabra */
    width: 70%; /* Define la longitud del subrayado */
    height: 2px; /* Grosor del subrayado */
    background-image: linear-gradient(to left, transparent 50%, #ff702a 50%); /* Gradiente para crear el subrayado */
   
}

.pagina6__icons{
    display: flex;
    gap: 5px;
}
.pagina6__icons i{
    color:var(--color-primary);
}
.pagina6__icons i:hover{
    color: var(--color-white);
    scale: 1.1;
}


/*Fin Footer*/

/*RESPONSIVE INICIO*/
@media (width< 800px){
  /*PAGINA 1 INICIO*/
    .textopagina1{
        width: 99%;
        height: 70vh;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        /* border: 1px solid red; */
        
    }
    .textopagina1__texto{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
        height: 20rem;
        /* border: 1px solid red; */
        align-items: center;
  
    }
    
    .textopagina1__texto h2{
        font-size: 3rem;
    }
    .textopagina1__img{
        display: flex;
        object-fit: contain;
        justify-content: center;
        width: 50%;
        height: 50%;
        /* border: 1px solid blue; */
        
    }
    /*PAGINA 1 FIN*/



    /*PAGINA 2 INICIO*/
    .pagina2{
        margin-top: 1.5rem;
        display: flex;
        width: 99%;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        /* border: 1px solid blue; */
        

    }
    .pagina2__text{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid red; */
        align-items: center;
    }
    .pagina2__img{
        margin-top: 4rem;
        display: flex;
        width: 70%;
        height: 45%;
        object-fit: contain;
        justify-content: center;
        align-self: center;
        /* border: 1px solid red; */
        
    
    }
   
    .pagina2__text small{
        font-size: 1.3rem;
        color: var(--color-primary);
        
    }
    .pagina2__text h3{
        margin-top: 0.5rem;
        font-size: 2rem;
        line-height: 2.5rem;
        color: var(--color-white);
        font-weight:500;
        
    }
    .pagina2__text p{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        color: var(--color-white);
        line-height: 1.5rem;
    }
    
   
    /*PAGINA 2 FIN*/
    


    /*PAGINA 3 COMIENZO*/
    .pagina3{
        margin-top: 3rem;
        display: flex;
        width: 99%;
        height: 150vh;
        /* border: 1px solid red; */
        flex-direction: column;
       
    }
    .pagina3__text{
        display: flex;
        width: 100%;
       height: 25vh;
       justify-content: center;
       flex-direction: column;  
        /* border: 1px solid yellow; */
    }
    .pagina3__text small{
        font-size: 1.3rem;
        color: var(--color-primary);
    }
    .pagina3__text p{
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
        color: var(--color-white);
        
        
    }
    
    .pagina3__img{
        margin-top: 2rem;
        display: flex;
        /* border: 1px solid rgb(17, 0, 255); */
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 90%;
        flex-wrap: wrap;
        
    }
    /* .pagina3__img .img__elemento:hover{
        scale: 1.1;
    } */
    .pagina3__img .img__elemento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:80%;
        height: 30%;
        background-color: var(--color-beige);
        /* border: 1px solid rgb(255, 0, 234); */
        
    }
    .img__elemento img{
        display: flex;
        width:85%;
        height: 55%;
        align-items: center;
        align-self: center;
        object-fit:contain;
        /* border: 1px solid yellow; */
    
    }
    .pagina3__img h4{
        font-weight: normal;
        font-size: 1.5rem;
    
    }
    .pagina3__img small{
        margin-top: 0.3rem;
        font-size: 1.2rem;
    
    }
    .pagina3__img p{
        font-weight: 500;
        /* border: 1px solid yellow; */
        font-size: 1.2rem;
        color: var(--color-primary);
    }
    
    /*PAGINA 3 FIN*/


    /*PAGINA 4 COMIENZO*/
    .pagina4{
        margin-top: 4rem;
        display: flex;
        width: 99%;
        height: 170vh;
        /* border: 1px solid red; */
        flex-direction: column;
       
    }
    .pagina4__text{
        display: flex;
        width: 100%;
       height: 25vh;
       justify-content: center;
       flex-direction: column;  
        /* border: 1px solid yellow; */
    }
    .pagina4__text small{
        font-size: 1.3rem;
        color: var(--color-primary);
    }
    
    .pagina4__text p{
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
        color: var(--color-white);
        
        
    }
    
    .pagina4__img{
        margin-top: 2rem;
        display: flex;
        /* border: 1px solid rgb(17, 0, 255); */
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 90%;
        flex-wrap: wrap;
        
    }
    /* .pagina3__img .img__elemento:hover{
        scale: 1.1;
    } */
    .pagina4__img .img__elemento__pag4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:80%;
        height: 28%;
        
        /* border: 1px solid rgb(255, 0, 234); */
        
    }
    .img__elemento__pag4 img{
        display: flex;
        width:85%;
        height: 65%;
        align-items: center;
        align-self: center;
        object-fit:contain;
        /* border: 1px solid yellow; */
    
    }
    .pagina4__img h5{
        font-weight: normal;
        font-size: 1.5rem;
    
    }
    
    .pagina4__img p{
        font-weight: 500;
        /* border: 1px solid yellow; */
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: var(--color-white);
    }
    /*PAGINA 4 FIN*/


    /*COMIENZO PAGINA 5 */
    .pagina5{
        margin-top: 5rem;
        display: flex;
        width:99%;
        height: 30vh;
        /* border: 1px solid red; */
        font-family: 'Poppins', sans-serif;
        justify-content: center;
        
    }
    .pagina5__text{

        display: flex;
        width: 85%;
        height: 80%;
        margin-top: 0;
        flex-direction: column;
        background-color: var(--color-beige);
        /* border: 1px solid rgb(200, 255, 0); */
        
        
    }
    .pagina5__text h6{
        margin-top: 1.5rem;
        display: flex;
        width: 85%;
        align-self: center;
        font-weight: normal;
        /* border: 1px solid rgb(0, 174, 255); */
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .pagina5__text button{
        display: flex;
        margin-top: 1rem;

        /* border: 1px solid rgb(30, 255, 0); */
        width: 10rem;
        height: 2.5rem;
        font-size: 1.2rem;
        background-color: var(--color-primary);
        color: var(--color-white);
        
        margin-left: auto;
        margin-right: auto;
        
    }
    /*FIN PAGINA 5 */   

    /*Comienzo footer*/
    .pagina6{
        display: flex;
        width: 99%;
        height: 100vh;
        /* border: 1px solid red; */
        align-items: center;
        justify-content: flex-start;
        
        flex-direction: column;

    }
    .pagina6__text{
        display: flex;
        width: 70%;
        flex-direction: column;
        /* border: 1px solid rgb(255, 187, 0); */
        margin-top: 1rem;
    }
    
   
    
    .pagina6__text i{
        display: flex;
        font-size: 2rem;
        /* border: 1px solid red; */
        
        margin-top: 1.5rem;
        line-height: 0.2rem;
        color: var(--color-white);
    
    }
    
    .pagina6__text:last-child .linea{
       display: flex;
       justify-content: center;
       
    }
    
    .pagina6__icons{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5px;
    }
    .pagina6__text:last-child .linea::after {
        content: "";
        position: absolute;
        bottom: 0;
        
        left: 22%; /* Alinea el inicio del subrayado en la mitad de la palabra */
        width: 70%; /* Define la longitud del subrayado */
        height: 2px; /* Grosor del subrayado */
        background-image: linear-gradient(to left, transparent 50%, #ff702a 50%); /* Gradiente para crear el subrayado */
       
    }
    

    /*Find footer*/
    /*hamburguesa comienzo*/
    .menu{
        display: none;
        margin: 0 auto;
        margin-top: 1rem; 
        margin-left: 0px;
        justify-content: center;
        font-size: 4rem;
        align-items: center;
        color: var(--color-primary);
        gap: 30px;
        height: 100px;
        font-size: 20px;
        text-decoration: none;
        list-style: none;
    }

    .toggle{
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 2rem;
        margin-top: 0.3rem;
        justify-content: center;
        cursor: pointer;
        background: url(../storage/img/menu.svg);
        background-size: 3rem;
        z-index: 11;
        
    }

    .toggle.active{
        position: fixed;
        width: 2rem;
        margin-left: 20rem;
        background: url(../storage/img/close.svg);
        background-size: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu {
      display:none;
    }

    .menu.active
    {
        position: fixed;
        background: var(--color-tercer);
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2svh;
        padding-bottom: 2svh;
        row-gap: 1.5em;
        font-size: 1.2em;
        z-index: 10;
    }
}
    /*fin hamburguesa*/



/*RESPONSIVE FINAL*/