@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px repeat(5, 45vw) 20vw;
    height: auto;
    background-color: var(--color-secundary);
    overflow-x: hidden;

}
/*Header pagina 1 */
.encabezado{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color-secundary);
    /* border: 1px solid red; */

}
.encabezado__titulo{
    display: flex;
    color: var(--color-primary);
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

.encabezado__menu{
    display: flex;
    width: 43%;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    margin-right: 2rem;
}
.encabezado__menu a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}
.encabezado__menu a:hover{
    color: var(--color-primary);
}
/*fin Header pagina 1  */



/*Comienzo cuerpo texto-img pagina 1  */
.textopagina1{
    display: flex;
    width: 85%;
    height: 83.5vh;
    grid-template-columns: repeat(2,1fr);
    margin-left: 8rem;
    /* border: 1px solid green; */
}
.textopagina1__texto{
    display: flex;
    width: 100%;
    height: 83.5vh;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid rgb(255, 208, 0); */
    

    
}
.textopagina1__img{
    display: flex;
    width: 100%;
    height: 75vh;
    object-fit: contain;
    /* border: 1px solid red; */
}

.textopagina1__texto h2{
    font-size: 5.2rem;
    color: var(--color-primary);
}
.textopagina1__texto p{
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var(--color-white);
}
.textopagina1__texto button{
    display: flex;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color-white);
}
.textopagina1__texto button:hover{
    background-color:var(--color-white) ;
    color: var(--color-primary);
    scale: 1.1;
}

/*Fin cuerpo texto-img pagina 1  */



/*Comienzo pagina 2*/
.pagina2{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.pagina2__img{
    display: flex;
    width: 50%;
    height: 75vh;
    object-fit: contain;
    justify-content: center;
    align-self: center;
    /* border: 1px solid red; */

}
.pagina2__text{
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}
.pagina2__text small{
    font-size: 1.5rem;
    color: var(--color-primary);
    
}
.pagina2__text h3{
    margin-top: 0.5rem;
    font-size: 3.5rem;
    line-height: 3.7rem;
    color: var(--color-white);
    font-weight:500;
}
.pagina2__text p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: var(--color-white);
    line-height: 2rem;
}
.pagina2__text button{
    display: flex;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-top: 1.5rem;
}
.pagina2__text button:hover{
    background-color:var(--color-white) ;
    color: var(--color-primary);
    scale: 1.1;
}

/*Fin pagina 2*/


/*Comienzo pagina 3*/
.pagina3{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items:center ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.pagina3__text{
    display: flex;
    width: 100%;
   height: 30vh;
   justify-content: center;
   flex-direction: column;  
    /* border: 1px solid yellow; */
}
.pagina3__text small{
    font-size: 1.5rem;
    color: var(--color-primary);
}
.pagina3__text p{
    font-size: 3rem;
    color: var(--color-white);
    
    
}

.pagina3__img{
    display: flex;
    /* border: 1px solid rgb(17, 0, 255); */
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    height: 70%;
    
}
.pagina3__img .img__elemento:hover{
    scale: 1.1;
}
.pagina3__img .img__elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    height: 80%;
    background-color: var(--color-beige);
    /* border: 1px solid rgb(255, 0, 234); */
    
}
.img__elemento img{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    align-self: center;
    object-fit:contain;
    /* border: 1px solid yellow; */

}
.pagina3__img h4{
    font-weight: normal;
    font-size: 1.5rem;

}
.pagina3__img small{
    margin-top: 0.3rem;
    font-size: 1.2rem;

}
.pagina3__img p{
    font-weight: 500;
    color: var(--color-primary);
}

/*Fin pagina 3*/


/*Comienzo pagina 4*/

/*FIN pagina 4*/