@import url(variables.css);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    /* border: 1px solid red; */
    background-color: #1a1a1a;
    flex-direction: row;
}

/*INICIO ASIDE PAGINA 1*/
.pagina1{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    /* border: 1px solid red; */
    font-family: "Handlee";
    
   
    
}
.pagina1__tittle{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Protest Revolution";
    font-size: 2rem;
    

    /*anima*/
    text-shadow: 0 0 20px #fff, 0 0 40px #ff8c00, 0 0 60px #ff8c00, 0 0 80px #ff8c00, 0 0 100px #ff8c00;
    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow-orange {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff8c00;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 40px #ff8c00, 0 0 60px #ff8c00, 0 0 80px #ff8c00, 0 0 100px #ff8c00;
    }
}

.pagina1__aside__1{
    margin-top: 2rem;
    display: flex;
    height: 50%;
    align-items: center;
    line-height: 3.5rem;    
    flex-direction: column;
    font-size: 1.3rem;
    /* border: 1px solid rgb(217, 255, 0); */
    align-items: baseline;
    margin-left: 2rem;

}
.pagina1__aside__1 a:hover{
    color: orangered;
    scale: 1.1;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #00f, 0 0 10px #00f, 0 0 30px #00f, 0 0 50px #00f, 0 0 50px #00f;  */
}
.pagina1__aside__1 svg{
    font-size: 1px;
    /* border: 1px solid rgb(217, 255, 0); */
    width: 2.8rem;
    height: 2.8rem;
    
}
.pagina1__aside__1 svg:hover{
    stroke: rgb(255, 153, 0);
    fill: rgb(255, 153, 0);
}
.pagina1__aside__1 i{
    font-size: 2rem;
}
.pagina1__aside__2 .elemento,
.pagina1__aside__1 .elemento{
    text-decoration: none;
    color: white;

}


.pagina1__aside__2{
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid red; */
    font-size: 1.5rem;
    align-items: baseline;
    margin-left: 2rem;
}
.pagina1__aside__2 a:hover{
    scale: 1.1;
    color: orangered;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;  */


}
.pagina1__aside__2 svg{
    width: 2rem;
    height: 2rem;
    
}
.pagina1__aside__2 svg:hover{
    fill: rgb(255, 153, 0);
    stroke: rgb(255, 153, 0);
}
.pagina1__aside__2 p{
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    
    /* border: 1px solid red; */
}

/*FIN ASIDE PAGINA 1*/


/*COMIENZO index PAGINA 1*/
.container{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 95%;
    height: 90%;
    color: white;
    /* border: 1px solid red; */
    box-shadow: 0 0 10px #fafafa, 0 0 20px #fafafa, 0 0 30px #fafafa, 0 0 30px #fafafa;
    background-color:#333333;
    font-family: "Handlee";
    border-radius: 30px;

    flex-direction: column;
    
}
.container h2{
    /* border: 1px solid rgb(255, 251, 0); */
    font-family: "Handlee";
    font-size: 2rem;

    margin: 15px 30px 0px 30px;
}

.pagina1__index{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 18.5rem;
    max-height: 85vh;
    padding: 1rem;
    gap: 15px;
    overflow-y: auto;
    /* border: 1px solid rgb(255, 251, 0); */
    background-color:#333333;
    

    position: relative;
    
}
.index__elemento{
    display: flex;
     /* border: 1px solid rgb(255, 251, 0);  */
    
    box-shadow: 3px 3px 5px orange;
   border-top-left-radius: 40px;
   border-bottom-right-radius: 40px;
    background-color: aliceblue;
}
.index__elemento img{
    border-radius: 20px;
}
.index__elemento__prenda{
    display: flex;
    max-width:100% ;
    max-height: 100%;
    flex-direction: column;
  
    /* border: 1px solid red; */
}

/*HOVER IMAGEN A MODELO USANDO*/
.index__elemento__prenda .ropa{
    
    position: relative;
    width: 100%; 
    height: 100%; 
    /* border: 1px solid red;  */

    
}
.prenda {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.5s ease;
} 


.prenda:hover {
    opacity: 1; /* Muestra la imagen cuando se pasa el cursor sobre ella */
}

.prenda:first-child {
    opacity: 1; /* Muestra la primera imagen al principio */
}
.index__elemento__prenda img{
    
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; */
}
/*******************************/

/*configuracion caja de precio item y compra*/
.index__elemento__text{
    display: flex;
    width: 14rem;
    height: 27%;
    color: black;
    flex-direction: column;
    /* border: 1px solid yellow; */
    background-color: #615e4c;
    border-bottom-right-radius: 40px;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}
.index__elemento__text button{
    position: absolute;
    width:5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 0.5rem;
    font-family: "Handlee";
    font-weight: 900;
    border:none;
    background-color: #464748;
    border-bottom-right-radius: 20px;
    /* border: 1px solid red; */
    border: 1px solid white;
}
.index__elemento__text button:hover{
    background-color: #90A4AE;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 0px 20px orangered;  
}
/*configuracion fin caja de precio item y compra*/
/*FIN index PAGINA 1*/




/*ABRIGOS COMIENZO PAGINA 2y 3 camiseta y pantalones 4 */
.container__pantalones,
.container__camiseta,
.container__abrigos{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 95%;
    height: 90%;
    color: white;
    /* border: 1px solid red; */
    box-shadow: 0 0 10px #fafafa, 0 0 20px #fafafa, 0 0 30px #fafafa, 0 0 30px #fafafa;
    background-color:#333333;
    font-family: "Handlee";
    border-radius: 30px;

    flex-direction: column;
    
}
.container__pantalones h2,
.container__camiseta h2,
.container__abrigos h2{
    /* border: 1px solid rgb(255, 251, 0); */
    font-family: "Handlee";
    font-size: 2rem;

    margin: 15px 30px 0px 30px;
}

/*ABRIGOS FIN PAGINA 2*/


/*carrito COMIENZO PAGINA 4*/
.carrito__vacio{
    width: 20rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
    text-align: center;
}
/*carrito FIN PAGINA 3*/






/*carrito lleno comienzo*/
.container__lleno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 5rem 5rem 5rem ;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 95%;
    height: 35.5rem;
    color: white;
    /* border: 1px solid red; */
    box-shadow: 0 0 10px #fafafa, 0 0 20px #fafafa, 0 0 30px #fafafa, 0 0 30px #fafafa;
    background-color:#333333;
    font-family: "Handlee";
    border-radius: 30px;
    padding: 15px;
    
   flex-direction: row;
    
}
.container__lleno h2{
    /* border: 1px solid rgb(255, 251, 0); */
    font-family: "Handlee";
    font-size: 2rem;

    margin: 15px 30px 0px 30px;
}
.pagina1__index__lleno{
    display: grid;
    height: 24.2rem;
    grid-auto-rows: 15rem;
    padding: 1rem;
    
    /* border: 1px solid rgb(255, 251, 0); */
    background-color:#333333;
    overflow-y: auto;
    position: relative;
}
.index__elemento__lleno{
    display: flex;
    position: relative;
    /* border: 1px solid rgb(255, 251, 0); */
    height: 12rem;
   
    box-shadow: 3px 3px 5px orange;

    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: aliceblue;
}
.index__elemento__lleno img{
    border-top-left-radius: 20px;

}
/* .index__elemento__prenda__lleno{
    display: flex;
    max-width:100% ;
    max-height: 100%;
    flex-direction: column;
    object-fit:contain;
    border: 1px solid rgb(17, 0, 255); 
  
    border: 1px solid red;
} */

/*HOVER IMAGEN A MODELO USANDO*/
.index__elemento__prenda__lleno .ropa__lleno{
    display:flex;
    position: absolute;
    width: 12rem; 
    /* border: 1px solid rgb(9, 255, 0);  */

    
}
.prenda__lleno{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.5s ease;
    /* border: 1px solid red;  */

} 


.prenda__lleno:hover {
    opacity: 1; /* Muestra la imagen cuando se pasa el cursor sobre ella */
}

.prenda__lleno:first-child {
    opacity: 1; /* Muestra la primera imagen al principio */
}
.index__elemento__prenda__lleno img{
    
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; */
}
/*******************************/

/*configuracion caja de precio item y compra*/
.index__elemento__text__lleno{
    display: flex;
    width:44rem;
    height: 100%;
    color: black;
    flex-direction: row;
    /* border: 1px solid yellow; */
    background-color: #615e4c;
    border-bottom-right-radius: 40px;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    right: 0;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    font-weight: 900;
    line-height: 2rem;
    font-size: 1.5rem;
    
}
.index__elemento__text__lleno i{
    font-size: 3rem;

}
.index__elemento__text__lleno input{
    height: 1.5rem;
}

.index__elemento__text__lleno button{
    position: absolute;
    width:5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 0.5rem;
    font-family: "Handlee";
    font-weight: 900;
    border:none;
    background-color: #464748;
    border-bottom-right-radius: 20px;
    /* border: 1px solid red; */
    border: 1px solid white;
}
.index__elemento__text__lleno button:hover{
    background-color: #90A4AE;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 0px 20px orangered;  
}

.opciones__compra{
    display: flex;
    width: 73%;
    height: 5rem;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 1rem;
    /* border: 1px solid rebeccapur ple; */
    
}
.opciones__compra__vaciar {
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: 1rem;
    font-family: "Handlee";
    font-weight: 900;
    background-color: #464748;;
    border: 1px solid white;
    /* border: 1px solid rgb(179, 255, 0); */

}
.opciones__compra__vaciar a{
    display: flex;
    text-decoration: none;
    color: black;
    width: 8rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    /* border: 1px solid rgb(179, 255, 0); */

}
.opciones__compra__ahora{
    display: flex;
    width: 15rem;
    height: 4rem;
    /* border: 1px solid rgb(179, 255, 0); */
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color:  #615e4c;
    
    
    
}
.opciones__compra__ahora__total{
    display: flex;
    width: 6rem;
    height: 3.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 5px;
}

.opciones__compra__ahora__total h6{
    display: flex;
    font-size: 1.1rem;
    align-self: baseline;
    margin: 0 0.8rem;
}
.opciones__compra__ahora button{
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: 1rem;
    font-family: "Handlee";
    font-weight: 900;
    border: 1px solid white;
    background-color: #464748;
    /* border: 1px solid red; */
    margin-right: 5px;
    color: black;

}
.opciones__compra__ahora button:hover,
.opciones__compra__vaciar a:hover{
    background-color: #90A4AE;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 0px 20px orangered;  
}

/*Carrito lleno fin*/



@media(width<800px){

        body{
            grid-template-columns: 1fr;
        }
        
   
    .pagina1__index{
        border: 1px solid red;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 10PX;
    }
    .index__elemento__prenda, .index__elemento__text{
        
        padding: 2%;
    }
    .container{
        width: 80%;
    }
    .index__elemento{
        justify-content: center;
    }
    .pagina1__aside__1{
        width: 70%;
    }
    .container__lleno{
        width: 95%;

    }
    .index__elemento__lleno{
        display: flex;
        object-fit: scale-down;
        width: 95%;
        height: 10rem;
    }
    .index__elemento__text__lleno{
        grid-gap: 0;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr;
        
    }
    
}