:root{
    --color-primary:#ff702a;
    --color-secundary:#1e1d2b;/*Color Body*/
    --color-tercer:#2c2b47;/*Color del menu movil*/

    --color-white:#fff;/*Opcion 2 del trabajo*/
    --color-beige:#ffefe8;  /*Opcion 5 del trabajo*/
    --color-black:#000;/*opcion 4 del trabajo*/

}